
body {
  font-family: Vazir, serif !important;
}

input:focus {
  outline: 0 !important;
}

footer {
  height: 60px;
  background: #444;
  position: relative;
}

footer div {
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 60px);
  padding-bottom: 30px;
}

#blue-section {
  background: rgb(195, 237, 241);
  height: 150px;
}

