#home-body.container-fluid {
    background-color: #f5f5f5;
    padding: 0 12vw !important;
    height: calc(100% - 250px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#home-body.container-fluid > .row {
    position: relative;
    top: -20px;
    height: calc(100% + 20px);
}


#home-body.container-fluid #userSearchTextField {
    padding: 5px;
    background-color: white;
    border-radius: 4px;
}

#home-body.container-fluid #userSearchTextField .form-control {
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

#home-body.container-fluid #userSearchTextField .form-control::placeholder {
    color: #888;
}

#home-body #usersList {
    height: 100%;
    overflow: auto;
}

#home-body #projectList {
    height: 100%;
    overflow: auto;
}