#project.container-fluid {
    background-color: #f5f5f5;
    padding: 0 6vw !important;
    margin: 150px 0 0 0;
    height: calc(100% - 150px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.well {
    position: relative;
    top: -8.5vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 0 !important;
}

.well > .row {
    padding: 20px;
    margin: 0;
}

.well > .row:first-child {
    border-bottom: 2px dashed rgb(115, 205, 216);
}

#profile-picture {
    border-color: #f0f0f0;
}

#project-title {
    font-size: 32px;
    font-weight: bold;
}

#description-static {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#description-text {
    margin-top: 10px;
    text-align: justify;
}

#skills-row {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
}

#skills-static {
    font-weight: bold;
    width: 100%;
}

#skills {
    width: 100%;
}

#skills .skill {
    float: left;
    height: 35px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#skills .skill:not(:first-child) {
    margin-left: 10px;
}

#skills .skill .name {
    float: left;
    margin: 8px 10px 7px 10px;
}

#skills .skill .point {
    float: left;
    margin: 5px 5px 5px 0;
    background-color: rgb(201, 238, 242);
    height: 25px;
    width: 25px;
}

#skills .skill .point > div {
    transform: translate(0, 12%);
    text-align: center;
}