.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    height: 60px;
    padding: 0;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-nav {
    padding: 0px;
}

.navbar .navbar-brand {
    padding: 0px;
}

.navbar .nav-item .nav-link {
    color: #222;
    cursor: pointer;
}

.navbar .nav-item button.nav-link {
    background: none;
    border: none;
    outline: none;
}

#logo {
    height: 60px;
}