.skill .name {
    float: left;
    margin: 8px 10px 7px 10px;
}

.skill .point {
    float: left;
    margin: 5px 5px 5px 0;
    height: 25px;
    width: 25px;
    border-radius: 0.2rem;
}

.skill .default {
    background-color: rgb(201, 238, 242);
    color: rgb(96, 149, 151);
}

.skill .not-assigned {
    background-color: rgb(230, 0, 0);
    color: #fff;
}

.skill .not-endorsed {
    background-color: rgb(80, 180, 52);
    color: #fff;
}