
body {
    font-family: Vazir, serif;
}

input:focus {
    outline: 0 !important;
}

.navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-nav {
    padding: 0px;
}

.navbar .navbar-brand {
    padding: 0px;
}

#logo {
    height: 60px;
}

.navbar .nav-item .nav-link {
    color: #222;
}

footer {
    height: 60px;
    background: #444;
    position: relative;
}

footer div {
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    margin-top: 60px;
    min-height: calc(100vh - 60px - 60px);
    padding-bottom: 30px;
}

#blue-section {
    background: rgb(195, 237, 241);
    height: 17vh;
}