
body {
    font-family: Vazir, serif;
}

.navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    height: 60px;
    padding: 0px;
}

.navbar:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-nav {
    padding: 0px;
}

.navbar .navbar-brand {
    padding: 0px;
}

#logo {
    height: 60px;
}

.navbar .nav-item .nav-link{
    color: #222;
}

footer {
    height: 65px;
    background: #444;
    position: relative;
}

footer div {
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    min-height: calc(100vh - 60px - 60px);
}

#blue-section {
    background: rgb(195, 237, 241);
    height: 17vh;
}

#description{
    margin-top: 0px;
    color: #555;
    text-align: justify;
    line-height: 2;
}

#profile-picture .img-thumbnail {
    padding: 0.75rem;
    border-radius:1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#username {
    margin-top: 3vh;
    color: #444;
    font-size: 40px;
    font-weight: bold;
}

#title {
    color: #888;
    font-size: 18px;
}

#title_bar {
    height: 17vh;
}

#skills {
    font-weight: bold;
    color: #000;
    font-size: 25px;
}




/*.under*/
/*{*/
    /*position:absolute;*/
    /*right:0px;*/
    /*top:0px;*/
    /*z-index:-1;*/
/*}*/
/*.over*/
/*{*/
    /*position:absolute;*/
    /*right:40px;*/
    /*top:10px;*/
    /*z-index:-1;*/
/*}*/